{Winnie Luu}

h1 { 
		font-size: 250%; 
		margin-left: 25px;
		letter-spacing: 3px;
		font-family: 'Rammetto One', serif; 
		text-transform: uppercase; 
		text-shadow: 4px 3px #006600;
		 }
		 
		 
img {
    	display: block;
    	margin-left: 25px;
    	}
    	
    	
.res {
			color: #ffaa00;
			text-shadow: 3px 2px #805500;
			font-size: 300%;
			font-family: "Khmer MN";
			}

.clr {
		color:#ffff33;
		font-family: "Courier";
		}

.move {
	position: absolute;
	right: 70px;
	top: 350px;
	background: rgba(0,0,0,0.6);

}